/*Common Style*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #333;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #0f1214;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  font-size: 18px;
  color: #7f8386;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

a {
  text-decoration: none !important;
  color: #0eb3d6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
